
.title {
  text-align: center;
}

img {
  border-radius: 4px;
  width: 100%;
  height: auto;
}

.card {
  border: 2px solid gray;
  padding: 8px;
  align-items: center;
}

.footer {
  margin: 48px 8px;
}

