/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"); */

/* font: 20px Montserrat; */

body {
  background-color: #c1bcbc;
}

.title {
  text-align: center;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 16px;
  background-color: #333;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* .container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 80px 400px 1fr;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd main main main main main main main"
    "ft ft ft ft ft ft ft ft";
} */

.container {
}

.blog-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 36px;
  margin: 4px;
  padding: 4px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}

.card {
  border: 2px solid gray;
  padding: 8px;
}
